# Data Gender Dan Hobby Mahasiswa

In [3]:
import pandas as pd #Import Pandas dengan alias pd

mahasiswa = [["Jhony", "Swimming", "male"], ["Catherine", "Drawing", "Female"], ["jack", "Gaming", "Male"]]
data_mahasiswa = pd.DataFrame(mahasiswa, columns=['Name', 'Hobby', 'Gender'])
data_mahasiswa

        Name     Hobby  Gender
0      Jhony  Swimming    male
1  Catherine   Drawing  Female
2       jack    Gaming    Male